@font-face {
    font-family: Signika;
    src: url(../src/fonts/Signika-Regular.ttf);
}

@font-face {
    font-family: Comfortaa;
    src: url(../src/fonts/Comfortaa.ttf);
}

@font-face {
    font-family: Dosis;
    src: url(../src/fonts/Dosis.ttf);
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background-color: #22242a;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;
}

body {
    background-color: #CFD7F6;
}
/*=============================================================================*/
.derecha{
  right: 3rem;
  top: 1rem;
  position: absolute;
  background: #fff;
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
}
.derecha label{
  color: #1a5276;
  transition: color 0.2s ease;
  font-size: 14pt;
  display: block;
  cursor: pointer;
  user-select: none;
  font-family: 'Dosis', sans-serif;
}
.derecha ul label{
  color: #fff;
}
.list li a label img{
  margin-right: .5rem;
  padding-top: .1rem;
  width: 1em;
  float: left;
}
.derecha .button img{
  margin-left: .3em;
  margin-right: .3em;
  width: .8em;
  padding-top: .3em;
  float: right;
}
.derecha ul{
  position: absolute;
  background: #dc143c;
  list-style: none;
  top: 35px;
  right: .2rem;
  padding: .2rem;
  min-width: 9rem;
  border-radius: 8px;
  border:1px solid rgb(180, 180, 180);
  display: none;
  box-shadow: 0px 2px 28px -10px rgba(0,0,0,0.59);

}
[id^=btn]:checked + ul{
  display: block;
}
.derecha .list:before{
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  background: #dc143c;
  right: .7em;
  top: -6px;
  transform: rotate(45deg);
  z-index: 1;
  border-top: 1px solid rgb(180, 180, 180);
  border-left: 1px solid rgb(180, 180, 180);
}
.derecha ul li{
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.derecha ul #bottom{
  border-bottom: none;
}
.derecha ul li label{
  font-size: 14pt;
  filter: brightness(95%);
  transition: all .1s;
}
.derecha ul li label:hover{
  filter: brightness(100%);
  transition: all .1s;
}
.derecha ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
.derecha input{
  display: none;
}
.menu li a label img{
  width: 20px;
  height: 20px;
  float: right;
  padding: 0;
  margin: 0;
}
/*=============================================================================*/
.izquierda h3{
    color: #ffffff;
    font-family: Signika;
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
}

.izquierda span {
    color: #2f77fd;   
}

.izquierda img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -52px;
    width: 200px;
}

.leave {
    display: block;
    font-family: Comfortaa;
    padding: 10px;
    background-color: #1dc4e7;
    text-decoration: none;
    float: right;
    margin-top: -40px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.leave:hover {
    background-color: #dc143c;
    transition: background-color 0.5s;
}

.sidebar {
    background-color: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
}

.pf_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .pf_info .pfp {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .pf_info h4 {
    font-family: Signika;
    font-size: 20px;
    color: #2f77fd;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 800;
}

.sidebar a {
    font-family: Dosis;
    font-size: 19px;
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #316eed;
    padding-left: 15px;
    transition: all 0.5s;
}

.content {
    padding: 100px;
    margin-left: 250px;
    box-sizing: border-box;
}

.content .card  {
    background-color: #ffffffad;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
}

.content .card h1 {
    text-align: center;
    font-family: Signika;
    font-weight: bolder;
    font-size: 50px;
    color: #11698E;
}

.content .card .table {
    padding: 15px;
    overflow: auto;
    margin: auto;
}

.content .card .table table {
    margin: 25px 0;
    width: 100%;
    font-size: 13px;
    color: #2f323a;
    border-spacing: unset;
}

.content .card .table table > thead{
    background-color: #293B5F;
    color: #ffffff;
    font-size: 18px;
    font-family: Comfortaa;
}

.content .card .table table > thead th{
    padding: 15px;
}

.content .card .table table td {
    font-family: Dosis;
    font-size: 18px;
    font-weight: 500;
}

.content .card .table table th,
.content .card .table table td {
    border: 1px solid #00000017;
    padding: 10px 15px;
    max-width: 200px;
    overflow-wrap: break-word;
}

.content .card .table table > tbody > tr > td > img {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #000000b2;
}

.content .card .table .action {
    display: block;
    justify-content: center;
    gap: 10px;
}

.content .card .table .action > a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #2f323a;
    background: #ffffff;
    border: 1px solid;
    border-radius: 10px;
    display: block;
    padding: 7px 10px;
    margin: 4px;
    transition: 0.3s ease-in-out;
}

.content .card .table .action > a:nth-child(1) {
    border-color: #50D890;
}

.content .card .table .action > a:nth-child(2) {
    border-color: #F55C47;
}

.content .card .table .action > a:nth-child(2):hover {
    background-color: #F55C47;
    color: #ffffff;
    transition: all 0.5s ease-out;
    box-shadow: 0 3px 8px #0003;
}

.content .card .table .action > a:nth-child(1):hover {
    background-color: #50D890;
    color: #ffffff;
    transition: all 0.5s ease-out;
    box-shadow: 0 3px 8px #0003;
}

.content .card .table table > tbody > tr {
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.content .card .table table > tbody > tr:nth-child(2n+2) {
    background-color: rgba(255, 255, 255, 0.253);
    transition: 0.3s ease-in-out;
} 