@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


#articles {
    margin: 100px 250px 0px 250px;
    justify-content: center;
    font-size: 40px;
}

.container .grid {
    margin: 35px 200px 35px 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
}

.container .grid aside{
    position: absolute;
    left: 40px;
    right: 1110px;
    padding: 30px;
    margin-right: 80px;
    display: block;
    flex-wrap: wrap;
    background-color: rgba(194, 194, 194, 0.329);
    border-radius: 10px;
}

.container .grid aside > span {
    display: flex;
    flex-wrap: wrap;
}

.container .grid aside h5 {
    font-weight: normal;
    margin-left: 10px;
}

.container .grid aside h3 > img {
    width: 32px;
    height: 32px;
    position: absolute;
}

.container .grid aside h5 > img {
    width: 10px;
    height: 16px;
    position: absolute;
    right: 20px;
}

.container .grid aside a {
    text-decoration: none;
    color: black;
}

/* .container .grid aside a:visited {
    text-decoration: none;
} */

.container .grid > a > article {
    background: #fff;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    text-align: center;
    transition: transform .3s;
    min-height: 240px;
    min-width: 250px;
    max-height: 240px;
    max-width: 250px;
    text-decoration: none;
}

.container .grid > a > article:hover {
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}

.container .grid > a > article > img {
    height: 200px;
    width: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container .blogText {
    padding: 0 20px 20px;
    display: flex;
}

.container .blogText h3 {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.container .blogText > h3 > img {
    height: 16px;
    width: 16px;
}

.container .grid > a:link,
.container .grid > a:visited {
    text-decoration: none;
}

@media screen and (max-width: 1366px) {
    .container .grid > a > article {
        min-height: 240px;
        min-width: 220px;
        max-height: 240px;
        max-width: 220px;
    }

    .container .grid > a > article > img {
        height: 200px;
        width: 220px;
    }

    #articles {
        margin: 100px 360px 0px 360px;
    }

    .container .grid aside {
        margin-right: -80px;
    }
    
}

@media screen and (max-width: 1300px){
    .fBody{display: flexbox;}
    #articles{font-size: 30px; text-align: center;}
    .container .grid{margin: 35px 15% 35px 15%;}
}


@media screen and (max-width: 1200px){
    .container .grid{grid-template-columns: repeat(4, 1fr); margin: 35px 10% 35px 10%;}
    #articles {margin: 100px 290px 0px 290px !important; font-size: 30px !important;}

    .container .grid > a > article {
        min-height: 220px;
        min-width: 180px;
        max-height: 220px;
        max-width: 200px;
    }

    .container .grid > a > article > img {
        height: 180px;
        width: 200px;
    }
}

@media screen and (max-width: 1000px){
    .fBody{
        display: flexbox;
    }
    .container .grid{grid-template-columns: repeat(3, 1fr); margin: 10px 15% 35px 15%;}
    #articles {margin: 100px 290px 0px 290px !important; font-size: 38px !important;}


    .container .grid > a > article {
        min-height: 240px;
        min-width: 200px;
        max-height: 240px;
        max-width: 220px;
    }

    .container .grid > a > article > img {
        height: 200px;
        width: 220px;
    }
}

@media screen and (max-width: 800px){
    .fBody{
        display: flexbox;
    }
    #articles {margin: 100px 200px 0px 200px !important; font-size: 25px !important;}
    .container .grid{margin: 35px 10% 35px 10%;}

    .container .grid > a > article {
        min-height: 220px;
        min-width: 180px;
        max-height: 220px;
        max-width: 200px;
    }

    .container .grid > a > article > img {
        height: 180px;
        width: 200px;
    }
}

@media screen and (max-width: 700px){
    .fBody{
        display: flexbox;
    }
    #articles {margin: 100px 200px 0px 200px !important; font-size: 25px !important;}
    .container .grid{margin: 35px 10% 35px 10%;}
    .container .grid{grid-template-columns: repeat(2, 1fr); margin: 10px 15% 35px 15%;}

    .container .grid > a > article {
        min-height: 240px;
        min-width: 200px;
        max-height: 240px;
        max-width: 220px;
    }

    .container .grid > a > article > img {
        height: 200px;
        width: 220px;
    }
}

@media screen and (max-width: 600px){
    .fBody{
        display: flexbox;
    }
    #articles {margin: 100px 50px 0px 50px !important; font-size: 25px !important;}
    .container .grid{margin: 35px 0% 35px 0%;}
    .container .grid{grid-template-columns: repeat(2, 1fr); margin: 10px 10% 35px 10%;}

    .container .grid > a > article {
        min-height: 220px;
        min-width: 180px;
        max-height: 220px;
        max-width: 200px;
    }

    .container .grid > a > article > img {
        height: 180px;
        width: 200px;
    }
}

@media screen and (max-width: 600px){
    .fBody{
        display: flexbox;
    }
    #articles {margin: 100px 50px 0px 50px !important; font-size: 25px !important;}
    .container .grid{margin: 35px 1% 35px 1%;}
    .container .grid{grid-template-columns: repeat(2, 1fr); margin: 10px 10% 35px 10%;}

    .container .grid > a > article {
        min-height: 200px;
        min-width: 160px;
        max-height: 200px;
        max-width: 180px;
    }

    .container .grid > a > article > img {
        height: 160px;
        width: 180px;
    }
}