@font-face{
	font-family: Signika;
	src: url(../src/fonts/Signika.ttf);
	font-weight: normal;
	font-size: normal;
}

@font-face{
	font-family: Dosis;
	src: url(../src/fonts/Dosis.ttf);
	font-weight: normal;
	font-size: normal;
}

@font-face{
	font-family: Signika-Medium;
	src: url(../src/fonts/Signika-Medium.ttf);
	font-weight: normal;
	font-size: normal;
}

@font-face{
	font-family: Roboto-light;
	src: url(../src/fonts/Roboto-Light.ttf);
	font-weight: normal;
	font-size: normal;
}

@font-face{
	font-family: Oswald-Medium;
	src: url(../src/fonts/Oswald-Medium.ttf);
	font-weight: normal;
	font-size: normal;
}

@font-face{
	font-family: Oswald-Regular;
	src: url(../src/fonts/Oswald-Regular.ttf);
	font-weight: normal;
	font-size: normal;
}

.container h1{
    font-family: Signika;
    text-align: center;
}

.container h2{
    font-family: Oswald-Medium;
    padding-top: 40px;
}

.container h3{
    margin-top: 10px;
    font-family: Oswald-Regular;
}

body{
    background-color:  #FFF;
    font-size: 18px;
}

.img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img figure{
    position: relative;
    width: 450px;
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 25px lightslategray;
}

.img figure img{
    width: 450px;
    height: 250px;
    transition: all 500ms ease-out;
    filter: brightness(60%);
}

.img figure p{
    position: absolute;
    top: 30%;
    left: 20px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: white;
    margin-right: 200px;
}

.container{
    padding: 50px 200px
}

.sect p{
    font-family: Roboto-light;
    line-height: 24px;
    padding-top: 10px;
    font-size: 18px;
}

.container section{
    padding: 15px;
    padding-top: 10px
}

.container section:nth-child(3){
    text-align: center;
}

.container article{
    padding: 20px;
    margin-top: 20px;
}

.container hr{
    margin-top: 10px;
    margin-bottom: 10px;
}


.sect img#food{
    float: left;
    height: 275px;
    width: auto;
    margin:  30px 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}

.sect img#care{
    float: right;
    height: 275px;
    width: auto;
    margin: 20px 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}

.sect img#play{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    height: 300px;
    width: auto;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}



#back::after,
#back::before{
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 4px;
}

#back::after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #11698E;
    border-right-color: #11698E;
}

#back::before{
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #11698E;
    border-left-color: #11698E;
}


#back:hover:after,
#back:hover:before{
  border-bottom-color: #4F98CA;
  border-right-color: #4F98CA;
  border-top-color: #4F98CA;
  border-left-color: #4F98CA;
  width: 100%;
  height: 100%;
  color:#EFFFFB;
}

.container button{
  position: relative;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
}

.backB{
    display: flex;
    justify-content: center;
    align-items: center;
}
