main{
	min-height: 100vh;
}
body{
	position: flex;
	font-size: 16px;
	background:
       linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url(../src/contact_img.png);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

@font-face{
	font-family: Dosis-ExtraLight;
	src: url(../src/fonts/Dosis-ExtraLight.ttf);
	font-weight: normal;
	font-size: normal;
}
@font-face{
	font-family: Dosis;
	src: url(../src/fonts/Dosis.ttf);
	font-weight: normal;
	font-size: normal;
}
html{
	background-color: #fff;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*====Form====*/
.form{
	background: rgba(0, 0, 0,.3);
	margin-top: 2em;
	margin-left: 2em;
	border-radius: .5rem;
	border: 2px solid #fff;
	transition: box-shadow .3s;
	box-shadow: 2px 2px  8px #fff;
}
/*.form:hover{
	box-shadow: 2px 2px  8px #11698E;
	transition: box-shadow .3s;
}*/
#title1{
	color: #fff;
	font-size: 2.5em;
	font-weight: bold;
	width: 100%;
	max-width: 40rem;
	text-align: left;
	margin-top: .75rem;
	margin-left: .75rem;
	margin-bottom: .75rem;
	font-family: 'Dosis', sans-serif;
}
#title2{
	color: #fff;
	font-size: 1em;
	width: 40rem;
	max-width: 40rem;
	text-align: left;
	margin-top: .75rem;
	margin-left: .75rem;
	margin-bottom: .75rem;
	font-family: 'Dosis', sans-serif;
}
.container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.container .form{
	display: flex;
}
.container .img{
	float: right;
	overflow: hidden;
	height: 100%;
}
.container .form form label{
	margin-left: .75rem;
	text-align: left;
	display: block;

}
.container .form form input{
	margin: .75rem;
	margin-top: 1rem;
	text-align: left;
	display: block;
	width: 30rem;
	padding: 1em;
	border: none;
	border-radius: .5rem;
	box-shadow: 2px 2px  3px #fff;
	font-family: 'Dosis', sans-serif;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
textarea{
	margin: .75rem;
	margin-top: 1rem;
	text-align: left;
	display: block;
	width: 30rem;
	height: 10rem;
	padding: 1em;
	border: none;
	border-radius: .5rem;
	box-shadow: 2px 2px  3px #fff;
	font-family: 'Dosis', sans-serif;
}
.container .form form div{
	margin: 0.75rem;
	width: 30rem;
	display: flex;
	flex-direction: column;
}
.container .form form div textarea{
	border-radius: .5rem;
	padding: 1em;
	min-width: 30rem;
	max-width: 100%;
	height: 15rem;
	max-height: 25rem;
	min-height: 15rem;
	box-shadow: 2px 2px  3px #fff;
}

#enviar{
	height: 3em;
	width: 6em;
	margin-left: .75rem;
	margin-top: .40rem;
	margin-bottom: .30rem;
	border: none;
	font-family: 'Dosis', sans-serif;
	/*font-weight: bold;*/
	font-size: .9rem;
	color: #000000;
	border-radius: 5px;
	transition: background-color .7s;
}
  #enviar:hover{
	cursor: pointer;
	filter: brightness(90%);
  }

@media screen and (max-width: 720px) {

	.fBody{display: flexbox;}
	#title1, #title2{width: 100%;}
	.form{width: 90%;}
	.form input, .form label, .form textarea{width: 90% !important;}
	form{width: 100%;}

	#title1{font-size: 160%;}
	#title2{font-size: 100%;}
}
