@font-face {
	font-family: Poppins;
	src: url(../src/fonts/Poppins-Regular.ttf);
	font-weight: normal;
	font-size: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.35), 
        rgba(0, 0, 0, 0.35)
    ), url(../src/bg/lengueton.webp);
}

.formu {
    margin: 1%;
    margin-top: -3%;
}

.formu form {
    box-sizing: border-box;
    margin: 20px 650px 20px 20px;
    padding: 40px;
}

/* .formu p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 6, 85);
    font-size: 30px;
} */

.enfer {
    color: white;
    font-size: 20px;
}

form input {
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.233);
    border: 1px solid #9c9c9c38;
}

form button {
    display: inline-block;
	position: relative;
	padding: 1.5em 3em;
	appearance: none;
	border: 0;
	background: transparent;
	color: aliceblue;
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: .8s ease;
    background: rgb(37, 37, 37);
    border-radius: 10px;

}

form button:hover{
    background: #1A5276;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.445);
}

label{
    font-family: poppins;
    color: rgba(190, 32, 32, 0.712);
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
}

input{
    width: 150%;
    border-radius: 10px;
}

input:focus{
    outline: none;
}

select{
    border: rgba(0, 0, 0, 0.178);
    background-color: rgba(255, 255, 255, 0.212);
    width: 70%;
    padding: 00.7em;
    margin-bottom: 00.5em;
    border-radius: 20px;
    color: #fff;
}

select:focus{
    outline: none;
}

select option {
    color: black;
}

input{
    font-family: poppins;
    color: white;
}

.input{
    width: 80%;
    padding: 00.7em;
    margin-bottom: 00.5em;
    border-radius: 20px;
}

@media (max-width: 1366px) {
    .formu{
        height: 300px;
    }
}