@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	position: flex;
	font-size: 16px;
	background:
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url(../src/bg/signup-bg.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

/*====Form====*/
.container{
	padding-bottom: 25px; 
	padding-top: 25px;
}

.body h2, .body p{
	text-align: center;
	font-family: 'Dosis', sans-serif;
}
.body{
    width: 25rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: auto;
	margin: auto;
  	width: 30%;
}

.forms{
    background-color: #dff9fb;
    height: 100%;
    padding: 0.625rem;
    align-items: center;
    justify-content: center;
}

input, select{
    display: block;
    width: 92%;
    padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
    background: none;
    border: 2px #686de0 solid;
    border-radius: 10px;
    color: #2d3436;
    font-size: 20px;
	font-family: 'Dosis', sans-serif;
}

.inputs{
    position: relative;
    margin: 1.875rem;
}

label{
    position: absolute;
    top: -0.8125rem;
    left: 0.6rem;
    background-color: #dff9fb;
    padding: 0rem 0.3125rem;
    font-size: 17px;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
}

input:focus{
    border-color: #4834d4;
    outline: none;
}

button#submit{
    width: 50%;
    height: auto;
    border-radius: 10px;
    border:none;
    background-color: #686de0;
    display: block;
    font-family: 'Signika', sans-serif;
    font-size: 1.25rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    color: #f5f6fa;
    border: 1px #130f40 solid;
}

.button{
	padding-top: 20px;
    display: flex;
  	align-items: center;
  	justify-content: center;
}

button:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
    transition: all 400ms ease;
    color: white;
    border: 2px #30336b solid;
}

.gender{
    width: 98%;
}

