@font-face {
	font-family: Poppins;
	src: url(../src/fonts/Poppins-Regular.ttf);
	font-weight: normal;
	font-size: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.35), 
        rgba(0, 0, 0, 0.35)
    ), url(../src/bg/michi.webp);
}

.formu {
    margin: 1%;
    margin-top: -3%;
}

.formu form {
    box-sizing: border-box;
    margin: 20px 20px 20px 20px;
    padding: 5px;
}

/* .formu p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 6, 85);
    font-size: 30px;
} */

.enfer {
    color: white;
    font-size: 20px;
}

form input {
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.233);
    border: 1px solid #9c9c9c38;
}

form button {
    margin-left: 20%;
    display: inline-block;
	position: relative;
	padding: 1.5em 3em;
	appearance: none;
	border: 0;
	background: transparent;
	color: aliceblue;
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: .8s ease;
    background: rgb(37, 37, 37);
    border-radius: 10px;

}

form button:hover{
    background: #1A5276;
}

form input::placeholder{
    color: rgba(255, 255, 255, 0.445);
}

form label{
    font-family: poppins;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;

  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

input{
    width: 150%;
    border-radius: 10px;
}

input:focus{
    outline: none;
}

.formu select{
    border: rgba(0, 0, 0, 0.178);
    background-color: rgba(255, 255, 255, 0.212);
    width: 70%;
    padding: 00.7em;
    margin-bottom: 00.5em;
    border-radius: 20px;
    color: #fff;
}

.formu select:focus{
    outline: none;
}

.formu select option {
    color: black;
}

.formu input{
    font-family: poppins;
    color: white;
}

.input{
    width: 40%;
    padding: 00.7em;
    margin-bottom: 00.5em;
    border-radius: 20px;
}

@media (max-width: 1366px) {
    .formu{height: 100%;}
    .input{width:364.458px !important}
    .formu label{font-size: 125%;}
}

@media screen and (max-width: 800px){
    .formu label{font-size: 120%;}
    .formu .input{font-size: 90%;}
    
}

@media screen and (max-width: 600px){
    .formu label{font-size: 100%;}
    .formu .input{font-size: 80%;}
}