@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    position: relative;
    min-height: 100vh;
    margin-left: 100px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.postnav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postnav .text {
    position: relative;
    max-width: 600px;

}

.postnav .text h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;

}

.postnav .text a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #316eed;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.postnav .text a:hover {
    background: #6998ff;
}

.postnav .rightImg {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.postnav .rightImg {
    max-width: 340px;
}

#articles {
    position: absolute;
    margin-top: -100px;
    color: red;
}

.container h2 {
    margin-left: 200px;
}

.container h2::before {
	content: '';
	position: absolute;
	background-color: #316eed;
	height: 2px;
	box-sizing: border-box;
	width: 550px;
}

.grid {
    align-items: center;
    place-self: center center;
    margin: 20px 200px 20px 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    position: relative;
}

.grid > article {
    background: #fff;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    text-align: center;
    width: 350px;
    transition: transform .3s;
}

.grid > article:hover {
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}

.grid > article img {
    width: 350px;
    height: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.blogText {
    padding: 0 20px 20px;
}

.blogText h3 {
    text-transform: uppercase;
}

.blogText button {
    background: #316eed;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.blogText button:hover {
    background: #6998ff;
}

.blogText button a {
    text-decoration: none;
    color: #fff;
}

.blogText button a:visited {
    text-decoration: none;
    color: #fff;
}