@font-face{
	font-family: Dosis;
	src: url(../src/fonts/Dosis.ttf);
	font-weight: normal;
	font-size: normal;
}
@font-face{
	font-family: Poppins;
	src: url(../src/fonts/Poppins-Regular.ttf); 
	font-weight: normal;
	font-size: normal;
}

@font-face{
	font-family: Roboto-light;
	src: url(../src/fonts/Roboto-Light.ttf);
	font-weight: normal;
	font-size: normal;
}

html{
	background-color: #fff;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main{
    min-height: 100vh;
    font-family: Roboto-light;
}

/*====Main====*/
.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.text_container{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 0px 40px 0px 0px;
    border-top: 4px solid #1C6EA4;
    border-radius: 0px 40px 0px 40px;
    border-bottom: 4px solid #1C6EA4;
    box-shadow: 2px 4px 18px -4px rgba(0,0,0,0.82);
    padding: 1rem;
}
.text_container h1{
	margin-bottom: 8px;
	font-family: Roboto-light;
}
.img_container{
    overflow: hidden;
    width: 60rem;
    margin: 0;
    padding: 0;
}
.steps{
    display: flex;
    margin-top: 1rem;
}
.steps2{
    display: flex;
    margin-top: 1rem;

}
figure{
    padding: .5rem;
}
figure figcaption{
	margin-top: 1rem;
    text-align: center;
	font-family: Roboto-light;
}
figure img{
    margin: 0 auto;
    display: block;
}
.text_container .steps figure{
	padding: .5rem;
	width: 14rem;
}
.text_container .steps2 figure{
	padding: .5rem;
	width: 14rem;
}
/*#step1{
}
#step1 > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
  text-align:justify;
}
#hidden:hover{
	opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  background-color: transparent;
}*/

#back{
	color: #1C6EA4;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: .5px;
	float: right;
	text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-top: 10px;
}
#back:hover{
	background-size: 100% 2px;
}

@media screen and (max-width: 770px){
    .container{width: 90%;}
    .text_container{width: 100%}
    .img_container{display: none;}
}

@media screen and (max-width: 600px){
    .container figure img{
        width: 75px !important;
        height: 75px;
    }
    .container figcaption, p{font-size: 15px;}
    .container h1{font-size: 20px;}
}