@font-face{
	font-family: MonteCarlo;
	src: url(../src/fonts/MonteCarlo-Regular.ttf);
	font-weight: bolder;
	font-size: normal;
}

* {
    margin: 0;
    padding: 0;
}

body{
   background-color: white;
}
.perro{
    border-radius: 20px;
    background-color: rgba(241, 231, 222, 0.336);
    margin: 1%;
}

.h1{
    border-radius: 8px;
    text-align: center;
    font-size: 60px;
    color: whitesmoke;
    margin-top: 20px;
    background-color:#272727;
    margin-bottom: 50px;
}
.cont{
    margin-top: -12%;
    margin-bottom: -5%;
    padding: 15%;
}

.cont p {
    color: #272727;
    font-size: 25px;
    text-align: left;
}

.cont h3{
    color: #272727;
    font-size: 40px;
    text-align: left;
    font-family: 'MonteCarlo';
}
#pet_pic{
    margin-left: 20px;
    width: 600px;
    float: right;
    border-radius: 10px;
}

.boton{
    display: inline-block;
	position: relative;
	padding: 1.5em 3em;
	appearance: none;
	border: 0;
	background: transparent;
	color: aliceblue;
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: .8s ease;
    background: rgb(37, 37, 37);
    border-radius: 10px;
}
.boton:hover{
    background: rgba(82, 140, 248, 0.699);
}
a .boton{
    color: antiquewhite;
    text-decoration: none;
}

@media (max-width: 1366px) {
    .boton {
        padding: 1.5em 2.9em;
    }

    #pet_pic {
        margin-left: -20px;
    }
}
