@font-face{
	font-family: Dosis;
	src: url(../src/fonts/Dosis.ttf);
	font-weight: normal;
	font-size: normal;
}
@font-face{
	font-family: Poppins;
	src: url(../src/fonts/Poppins-Regular.ttf);
	font-weight: normal;
	font-size: normal;
}
html{
	background-color: #fff;
}


/*====Main====*/
main{
    min-height: 100vh;
}
.user_container h2{
	margin-left: 13rem;
	color: #272727;
	font-family: 'Poppins', sans-serif;
}
.user_container{
	padding: 20px;
	width: 80%;
	margin: auto;
}
.user_container .user p{
	font-family: 'Poppins', sans-serif;
	padding: 1rem;
	font-size: 2rem;
	text-align: center;
}
.user_img img{
    display: block;
    margin: auto;
}
.user_container .user hr{
	margin: auto;
}
.container{
	width: 42rem;
	margin: auto;
}
.container h2{
	padding: .5rem;
	font-family: 'Poppins', sans-serif;
	color: #272727;
	font-size: 14pt;
	font-weight: bold;

}
.user_data_container{
	width: 42rem;
	margin: auto;
	display: flex;
    padding: 0;
}
#text_info{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#mail{
	margin-left: 2rem;
	word-break:break-all;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}
#name{
	font-family: 'Poppins', sans-serif;
	font-size: 2em;
	padding-top: 2rem;
}
#user_data{
    display: flex;
}
#text{
	margin-left: 2rem;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}
.user_info{
	box-shadow: 0px 0px 10px -5px #000000;
	padding: 1rem;
    margin: 1rem;
    width: 20rem;
    border: 1px solid #f9f9f9;
    border-radius: 10px;
}
.user_info small{
	margin-right: .5rem;
}
.user_info p{
	font-family: 'Poppins', sans-serif;
	font-size: 14pt;
}
#button{
	color: #E74C3C;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: .5px;
	float: right;
	text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}
#button:hover{
	background-size: 100% 2px;
}
