@font-face {
  font-family: Dosis;
  src: url(../src/fonts/Dosis.ttf);
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: Poppins;
  src: url(../src/fonts/Poppins-Regular.ttf);
  font-weight: normal;
  font-size: normal;
}
html {
  background-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*====Navbar====*/

#navy {
  position: sticky;
  top: 0;
  z-index: 100;
}
header {
  background: #11698e;
  font-size: 14pt;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .menu .logo a img {
  width: 55px;
}
header .menu .menucontent {
  display: flex;
}
header .menu .menucontent a {
  font-size: 12pt;
  float: right;
  padding: 18.5px 8px;
  color: #fff;
  text-decoration: none;
  background: transparent;
  border-bottom: 2px solid transparent;
  transition: background 0.3s ease-in-out;
  font-family: Poppins;
}
header .menu .menucontent p {
  float: right;
  font-size: 14pt;
  padding: 1rem 8px;
  color: #fff;
  text-decoration: none;
  background: transparent;
  transition: background 0.3s ease-in-out;
  font-family: Poppins;
}
header .menu .menucontent a:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease-in-out;
}
header nav .user a .login {
  background-color: #fff;
  color: #1a5276;
  border: none;
  margin-right: 5px;
  padding: 5px;
  font-size: 14pt;
  transition: color 0.3s ease;
  border-radius: 8px;
  font-family: "Dosis";
  /*  */
  background-image: url(../src/icons/userIcon-blue.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  padding-right: 35px;
}
header nav .user a .login:hover {
  color: #5499c7;
  cursor: pointer;
  transition: color 0.3s ease;
}
header button:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
  transition: all 400ms ease;
  color: white;
  border: 2px #30336b solid;
}
/*====User-dropdown menu====*/
.user-menu-container{
  right: .2rem;
  position: absolute;
  background: #fff;
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
}
.user-menu-container label{
  color: #1a5276;
  transition: color 0.2s ease;
  font-size: 14pt;
  display: block;
  cursor: pointer;
  user-select: none;
  font-family: 'Dosis', sans-serif;
}
.user-menu-container label:hover{
  color: #5499c7;
  transition: color 0.3s ease;
}
.user-menu-container ul label{
  color: #fff;
}
.list li a label img{
  margin-right: 1em;
  width: 1em;
  float: left;
}
.user-menu-container .button img{
  margin-left: .3em;
  margin-right: .3em;
  width: .8em;
  padding-top: .3em;
  float: right;
}
.user-menu-container ul{
  position: absolute;
  background: #272727;
  list-style: none;
  top: 50px;
  right: .2rem;
  min-width: 8em;
  border-radius: 8px;
  border:1px solid rgb(180, 180, 180);
  display: none;
  box-shadow: 0px 2px 28px -10px rgba(0,0,0,0.59);

}
[id^=btn]:checked + ul{
  display: block;
}
.user-menu-container .list:before{
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  background: #272727;
  right: .7em;
  top: -6px;
  transform: rotate(45deg);
  z-index: 1;
  border-top: 1px solid rgb(180, 180, 180);
  border-left: 1px solid rgb(180, 180, 180);
}
.user-menu-container ul li{
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.user-menu-container ul #bottom{
  border-bottom: none;
}
.user-menu-container ul li label{
  font-size: 14pt;
}
.user-menu-container ul li label:hover{
  color: rgb(161, 161, 161);
}
.user-menu-container ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
.user-menu-container input{
  display: none;
}
.menu li a label img{
  width: 20px;
  height: 20px;
  float: right;
  padding: 0;
  margin: 0;
}
.mensaje{
  margin-left: 1.7rem;
}
/*========*/
body::-webkit-scrollbar {
  width: 5px;
  background: #dfe4ea;
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #11668eec;
}

@media screen and (max-width: 800px) {
  header a {
    font-size: 14px !important;
  }
  header p {
    font-size: 12pt !important;
  }
  .logo {
    height: 50px;
  }
  header img {
    height: 50px !important;
  }
  button.login {
    font-size: 14px !important;
  }
  header nav .user a .login {
    background-position: right;
    background-size: 27px;
    padding-right: 35px;
  }

  .user-menu-container label{font-size: 14px;}
  .user-menu-container label.button img {height: 11.759px !important;}
  .user-menu-container ul img {height: 18.656px !important;}
  .user-menu-container ul label {font-size: 13px !important;}

  a[href="./contact.php"] {
    display: none;
  }
  a[href="../../contact.php"] {
    display: none;
  }
  a[href="../contact.php"] {
    display: none;
  }
  .menucontent p:nth-child(4) ~ p {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  header a {
    font-size: 13px !important;
  }
  header p {
    font-size: 13pt !important;
  }
  .logo {
    height: 40px;
  }
  header img {
    height: 40px !important;
  }
  button.login {
    font-size: 13px !important;
  }
  header nav .user a .login {
    background-position: right;
    background-size: 25px;
    padding-right: 35px;
  }

  a[href="./contact.php"] {
    display: none;
  }
  a[href="../../contact.php"] {
    display: none;
  }
  a[href="../contact.php"] {
    display: none;
  }
  .menucontent p:nth-child(4) ~ p {
    display: none;
  }
  .user-menu-container label{font-size: 12px;}
}

@media screen and (max-width: 530px) {
  a[href="./php/index.php"] {
    display: none;
  }
  a[href="../../php/index.php"] {
    display: none;
  }
  a[href="../php/index.php"] {
    display: none;
  }

}
