*{
    margin: 0;
    padding: 0;
}
body{
  background-size: cover;
    background-image: url(div/selec.jpg);
}

.par{
  text-align: center;
  font-size: 50px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: white;
}
header {
  position: fixed;
  background-color: #22242a;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 1;
}

.izquierda h3{
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.izquierda span {
  color: #316eed;   
}

.zoom{
    padding: 50px;
    transition: transform .2s; 
    width: 200px;
    height: 200px;
    margin: 15%;
  }
  
  .zoom:hover {
    transform: scale(1.5); 
  }

  .zooms{
    padding: 50px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 15%;
  }
  
  .zooms:hover{
    transform: scale(1.5);
  }
  