@font-face{
	font-family: Poppins;
	src: url(../src/fonts/Poppins-Regular.ttf);
	font-weight: normal;
	font-size: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis';
}
body{
  background-color: white;
}
.h1{
  font-family: Poppins;
  text-align: center;
  font-size: 60px;
  color: black;
}
.info{
  margin: 5%;
  margin-left: -2%;
}
.info2{
  margin: 5%;
  margin-left: -2%;
  margin-bottom: 20%;
}
.img{
  margin-left: 5%;
  border-radius: 10px;
  margin-top: 3%;
  height: 400px;
  float:right;
}
.img2{
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  margin-top: 3%;
  height: 400px;
  float:left;
}
.select{
  margin: 5%;
  padding: 10%;
  margin-top: -5%;
  margin-bottom: -5%;
}
p{
  font-family: Poppins;
  margin-left: 5%;
  margin-bottom: 10%;
  text-align: left;
  font-size: 23px;
  text-align: justify;
}
.p{
  margin-left: 5%;
  text-align: left;
  font-size: 23px;
  text-align: justify;
}
.zoom{
    padding: 50px;
    transition: transform .2s; 
    width: 250px;
    height: 250px;
    margin: 15%;
  }
  
  .zoom:hover {
    transform: scale(1.5); 
  }

  .zooms{
    padding: 50px;
    transition: transform .2s;
    width: 250px;
    height: 250px;
    margin: 15%;
  }
  
  .zooms:hover{
    transform: scale(1.5);
  }
  