* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #111;
    height: auto;
    width: 1536px;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.container_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container_footer h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.container_footer p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.redes {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem 0 3rem 0;
}

.redes li {
    margin: 0 10px;
}

.redes img:hover{
    transform: scale(1.2);
}

.footer_bottom {
    background: #000;
    width: 1536px;
    padding: 20px 0;
    text-align: center;
}

.footer_bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer_bottom span {
    opacity: .8;
    font-weight: 200;
}