

body{
    background-color:  #FAEBE0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header{
    background-color: #BEAEE2; 
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    width: 55%;
    
}

h2{
    text-align: center;
}

img{
    width: 400px;
    display:block;
    margin:auto;
}

section{
    background-color: #BEAEE2;
    margin: 0 auto;
    width: 70%;
}